/*
 * Copyright (C) 2014-2016 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

 
#include "som-5728.dtsi"

/ {
	model = "EMAC som5728 with 5228 carrier";
    compatible = "emac, som5728-5228", "emac,som5728", "ti,am5728-idk", "ti,am5728", "ti,dra742", "ti,dra74", "ti,dra7";
	
    chosen {
		stdout-path = &uart3;
	};
    
	aliases {
		display0 = &panel;
		display1 = &hdmi0;
	};
	
	wlan_en: wlan_en_reg  {
		compatible = "regulator-fixed";
		regulator-name = "wlan-en-regulator";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&gpio8 2 GPIO_ACTIVE_HIGH>;

		startup-delay-us = <70000>;
		enable-active-high;
	};

	lvds_3p3v: lvds_3p3v_reg {
		compatible = "regulator-fixed";
		regulator-name = "LVDS 3P3V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		enable-active-high;
		gpio = <&gpio6 28 GPIO_ACTIVE_HIGH>;
		};

	bl_pwr: bl_pwr_reg {
		compatible = "regulator-fixed";
		regulator-name = "LVDS ABL";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		gpio = <&gpio4 31 GPIO_ACTIVE_LOW>;
	};

	hdmi0: connector {
		compatible = "hdmi-connector";
		label = "hdmi";
        hpd-gpios = <&gpio2 1 GPIO_ACTIVE_HIGH>;
		type = "a";
        port {
            hdmi_connector_in: endpoint {
                remote-endpoint = <&hdmi_out>;
            };
        };
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&ecap0 0 50000 0>;
		power-supply = <&bl_pwr>;
		brightness-levels = <0 10 20 30 40 50 60 70 80 90 100>;
		default-brightness-level = <9>;
	};
	
    
    // FIXME lets use the pipe off the gpu
	panel: panel {
		compatible = "innolux,at070tn92", "simple-panel";
		backlight = <&backlight>;
		power-supply = <&lvds_3p3v>;
		port {
			panel_in: endpoint {
				remote-endpoint = <&lvds_encoder_output>;
			};
		};
	};
	
	lvds-encoder {
		compatible = "lvds-encoder";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				lvds_encoder_input: endpoint {
					remote-endpoint = <&lcd_out>;
				};
			};

			port@1 {
				reg = <1>;

				lvds_encoder_output: endpoint {
					remote-endpoint = <&panel_in>;
				};
			};
		};
	};
	
	clocks {
		#address-cells = <1>;
		#size-cells = <0>;

		tlv320_mclk: tlv320_mclk {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <12000000>;
			clock-output-names = "mclk";
		};
	};
};


&dra7_pmx_core {
	wlan_pins_default: wlan_pins_default {
		pinctrl-single,pins = <
			DRA7XX_CORE_IOPAD(0x358c, PIN_INPUT | MUX_MODE14)                /* vin2a_d9.gpio4_10 */
			DRA7XX_CORE_IOPAD(0x35e4, PIN_OUTPUT_PULLDOWN | MUX_MODE14)      /* vout1_d2.gpio8_2 */
		>;
	};
};



&mmc4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&mmc4_pins_default 
                 &mmc4_iodelay_ds_rev20_conf
                 &wlan_pins_default>;
	vqmmc-supply = <&reg_1p8v>;
	vmmc-supply = <&wlan_en>;
	bus-width = <4>;
	cap-power-off-card;
	ti,needs-special-reset;
	non-removable;
	ti,non-removable;
	max-frequency = <1000000>;

	#address-cells = <1>;
	#size-cells = <0>;
	wlcore: wlcore@2 {
		compatible = "ti,wl1835";
		reg = <0x2>;
		interrupt-parent = <&gpio4>;
		interrupts = <10 IRQ_TYPE_LEVEL_HIGH>;
	};
};



// fix FOR THE 5228 UCBC MUX 
// hd3SS3220 -> TI
&i2c3 {	
    status = "okay";
	// fixme 
	// add util header
	// sata socket
	// dsi connector

	
	/*
	hd3ss3220@47 {
        compatible = "ti,hd3ss3220";
        reg = <0x47>;
        interrupt-parent = <&gpio6>;
        interrupts = <3>;
        ports {
            #address-cells = <1>;
            #size-cells = <0>;    
            port@0 {
                reg = <0>;
                hd3ss3220_in_ep: endpoint {
                        remote-endpoint = <&ss_ep>;
                };
            };
                
            port@1 {
                reg = <1>;
                hd3ss3220_out_ep: endpoint {
                    remote-endpoint = <&usb3_role_switch>;
                };
            };
        };
    };
    */
};



&i2c4 {
    status = "okay";
};

&ecap0 {
	status = "okay";
};
&ecap1 {
	status = "okay";
};
&ecap2 {
	status = "okay";
};

&epwmss0 {
	status = "okay";
};
&epwmss1 {
	status = "okay";
};
&epwmss2 {
	status = "okay";
};

&hdmi {
	status = "ok";
	vdda-supply = <&ldo4_reg>;
	port {
        hdmi_out: endpoint {
                remote-endpoint = <&hdmi_connector_in>;
                //lanes = <1 0 3 2 5 4 7 6>;
        };
	};
};


// SPI ADD for the 5228
// SPI3 -> DAC80501
// SPI3 -> MAX11161
&mcspi3 {
    ti,spi-num-cs = <3>;
    spidev30: spi@0 {
        compatible = "emac,spidev";
        reg = <0>;
        spi-max-frequency = <100000>;
    };
    spidev31: spi@1 {
        compatible = "emac,spidev";
        reg = <1>;
        spi-max-frequency = <100000>;
    };
    spidev32: spi@2 {
        compatible = "emac,spidev";
        reg = <2>;
        spi-max-frequency = <100000>;
    };
    
};

&mcspi4 {
    ti,spi-num-cs = <2>;
    spidev40: spi@0 {
        compatible = "emac,spidev";
        reg = <0>;
        spi-max-frequency = <100000>;
    };
    spidev41: spi@1 {
        compatible = "emac,spidev";
        reg = <1>;
        spi-max-frequency = <100000>;
    };
};

