/*
 * som-a5d36-bare.dtsi - Device Tree include file for the SOM-A5D36.
 *
 * Copyright (C) 2023 EMAC Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
#include "sama5d36.dtsi"
#include <dt-bindings/gpio/gpio.h>

#define LEGACY_SPI_FLASH_CS 	13
#define CURRENT_SPI_FLASH_CS 	14

/ {
	model = "EMAC SOM-A5D36";
	compatible = "emac,soma5d36", "atmel,sama5d36", "atmel,sama5d3", "atmel,sama5";

	chosen {
		stdout-path = &dbgu;
	};

	// 512 MB RAM
	memory@20000000 {
		reg = <0x20000000 0x20000000>;
	};

	clocks {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		slow_xtal {
			clock-frequency = <32768>;
		};

		main_xtal {
			clock-frequency = <12000000>;
		};

		audio_mclk: audio_mclk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <12288000>;
			clock-output-names = "audio-clk";
			gpios = <&pioC 19 GPIO_ACTIVE_HIGH>;
		};

		eth_phy_clk: eth_phy_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <25000000>;
			clock-output-names = "phy-clk";
		};
	};

	leds {
		compatible = "gpio-leds";
		status {
			label = "status";
			gpios = <&pioE 22 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_1v8_vdd_ddr1: reg_1v8_vdd_ddr1 {
			compatible = "regulator-fixed";
			regulator-name = "1V8_VDD_DDR1";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
			vin-supply = <&rail_3v3_vcc>;
		};
		reg_1v2_vcc: reg_1v2_vcc {
			compatible = "regulator-fixed";
			regulator-name = "1V2_VCC";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-always-on;
			vin-supply = <&rail_3v3_vcc>;
		};
		reg_1v2_eth: reg_1v2_eth {
			compatible = "regulator-fixed";
			regulator-name = "1V2_ETH";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			gpio = <&pioD 29 GPIO_ACTIVE_HIGH>;
			vin-supply = <&rail_3v3_vcc>;
		};
		rail_3v3_vcc: rail_3v3_vcc {
			compatible = "regulator-fixed";
			regulator-name = "3V3_VCC";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
		rail_3v3_stby: rail_3v3_stby {
			compatible = "regulator-fixed";
			regulator-name = "3V3_STBY";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
		adc_vref: adc_vref {
			compatible = "regulator-fixed";
			regulator-name = "ADC_VREF";
			regulator-min-microvolt = <2500000>;
			regulator-max-microvolt = <2500000>;
			gpio = <&pioB 25 GPIO_ACTIVE_LOW>;
			vin-supply = <&rail_3v3_vcc>;
		};
	};

	gpio_watchdog: watchdog {
		/* MAX6747 */
		compatible = "linux,wdt-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_watchdog>;
		gpios = <&pioD 6 GPIO_ACTIVE_LOW>;
		hw_algo = "level";
		hw_margin_ms = <1000>;
		status = "disabled";
	};
};

&{/ahb/apb/pinctrl@fffff200} {
	watchdog {
		pinctrl_watchdog: pinctrl_watchdog {
			atmel,pins =
				<AT91_PIOD 6 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP>;
		};
	};
	usba {
		pinctrl_usba_vbus: pinctrl_usba_vbus {
			atmel,pins =
				<AT91_PIOC 27 AT91_PERIPH_GPIO AT91_PINCTRL_DEGLITCH>;
		};
	};
	ebi{ /* pins renamed due to upstream bug */
		pinctrl_ebi_cs0: ebi-cs0-0 {
			atmel,pins =
				<AT91_PIOE 26 AT91_PERIPH_A AT91_PINCTRL_NONE>;
		};

		pinctrl_ebi_cs1: ebi-cs1-0 {
			atmel,pins =
				<AT91_PIOE 27 AT91_PERIPH_A AT91_PINCTRL_NONE>;
		};

		pinctrl_ebi_cs2: ebi-cs2-0 {
			atmel,pins =
				<AT91_PIOE 28 AT91_PERIPH_A AT91_PINCTRL_NONE>;
		};
	};

};

&pioD {
	gpio_watchdog_en: watchdog-enable {
		gpio-hog;
		gpios = <8 GPIO_ACTIVE_LOW>;
		output-high;
		/* LOW - enabled , HIGH - disabled */
		line-name = "watchdog-enable";
	};
};

&tcb0 {
	timer@0 {
		compatible = "atmel,tcb-timer";
		reg = <0>;
	};
};

&macb0 {
	phy-mode = "rgmii";
	status = "disabled";
	phy-handle = <&ethphy0>;
	mdio {		
		#address-cells = <1>;
		#size-cells = <0>;
		ethphy0: ethernet-phy@1 {
			reg = <0x1>;
			micrel-led-mode = <1>;
			clocks = <&eth_phy_clk>;
			clock-names = "rmii-ref";
			interrupt-parent = <&pioD>;
			interrupts = <19 IRQ_TYPE_LEVEL_LOW 3>;
		};
	};
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mmc0_clk_cmd_dat0 &pinctrl_mmc0_dat1_3>;
	status = "okay";
	slot@0 {
		reg = <0>;
		bus-width = <4>;
		non-removable;
	};
};

&i2c0 {
	status = "disabled";
	clock-frequency = <400000>;
	
	eeprom: atmel@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
		status = "disabled";
	};
};

&spi0 {
	num-cs = <1>;
	pinctrl-0 = <&pinctrl_spi0>;
	cs-gpios = <&pioD LEGACY_SPI_FLASH_CS GPIO_ACTIVE_LOW>;
	status = "okay";
	boot_flash: m25p80@0 {
		compatible = "atmel,n25q128a13";
		spi-max-frequency = <50000000>;
		reg = <0>;
	};
};

&usb0 {
	atmel,vbus-gpio = <&pioC 27 GPIO_ACTIVE_HIGH>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usba_vbus>;
	status = "disabled";
};

&usb1 {
	num-ports = <3>;
	status = "disabled";
};

// Enable Watchdog
&gpio_watchdog {
	status = "okay";
};
&gpio_watchdog_en {
	output-low;
	/* LOW - enabled , HIGH - disabled */
};

&spi0 {
	num-cs = <5>;
	pinctrl-0 = < &pinctrl_spi0
				  &pinctrl_spi0_cs0
				  &pinctrl_spi0_cs1
				  &pinctrl_spi0_cs2
				  &pinctrl_spi0_cs3
				  &pinctrl_spi0_cs4
				>;
	cs-gpios = <&pioD LEGACY_SPI_FLASH_CS GPIO_ACTIVE_LOW>,
				<&pioD CURRENT_SPI_FLASH_CS GPIO_ACTIVE_LOW>,
				<&pioD 15 GPIO_ACTIVE_LOW>,
				<&pioD 16 GPIO_ACTIVE_LOW>,
				<&pioC 28 GPIO_ACTIVE_LOW>;
};

&spi1 {
	// DO NOT USE WITH DMA
};

// COM D
&usart0 {
	dmas = <0>, <0>;	/*  Do not use DMA for usart0 */
	rts-gpios = <&pioC 29 GPIO_ACTIVE_HIGH>;
	cts-gpios = <&pioC 30 GPIO_ACTIVE_HIGH>;
	status = "disabled";
};

// COM A
&usart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usart1 &pinctrl_usart1_rts_cts &pinctrl_usart1_8pin_ctrl>;
	atmel,use-dma-tx;
	atmel,use-dma-rx;
	// No dcd-gpio
	dtr-gpios = <&pioC 0 GPIO_ACTIVE_HIGH>;
	dsr-gpios = <&pioC 1 GPIO_ACTIVE_HIGH>;
	rng-gpios = <&pioC 2 GPIO_ACTIVE_HIGH>;
	status = "disabled";
};

// COM C
&usart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usart2 &pinctrl_usart2_rts_cts>;
	atmel,use-dma-tx;
	atmel,use-dma-rx;
	status = "disabled";
};

// COM B
&dbgu {
	dmas = <0>, <0>;	/*  Do not use DMA for dbgu */
	rts-gpios = <&pioC 3 GPIO_ACTIVE_HIGH>;
	cts-gpios = <&pioC 4 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&{/ahb/apb/pinctrl@fffff200} {

	gpio-spi1 {
		pinctrl_gpio_spi1: gpio_spi1-0 {
			atmel,pins =
				<AT91_PIOC 22 AT91_PERIPH_GPIO AT91_PINCTRL_NONE
				 AT91_PIOC 23 AT91_PERIPH_GPIO AT91_PINCTRL_NONE
				 AT91_PIOC 24 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
		};
		pinctrl_spi1_cs0: spi1-cs0-0 {
			atmel,pins =
				<AT91_PIOC 25 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
		};
	};

	fiq {
		pinctrl_fiq: pinctrl_fiq {
			atmel,pins =
				<AT91_PIOC 31 AT91_PERIPH_A AT91_PINCTRL_NONE>;
		};
	};
	irq {
		pinctrl_irq: pinctrl_irq {
			atmel,pins =
				<AT91_PIOE 31 AT91_PERIPH_A AT91_PINCTRL_NONE>;
		};
	};
	irqb {
		pinctrl_irqb: pinctrl_irqb {
			atmel,pins =
				<AT91_PIOE 29 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
		};
	};
	pck0 {
		pinctrl_pck0: pinctrl_pck0 {
			atmel,pins =
				<AT91_PIOD 30 AT91_PERIPH_B AT91_PINCTRL_NONE>;
		};
	};
	pck1 {
		pinctrl_pck1: pinctrl_pck1 {
			atmel,pins =
				<AT91_PIOD 31 AT91_PERIPH_B AT91_PINCTRL_NONE>;
		};
	};

	ssc0 {
		pinctrl_ssc0_txrx: pinctrl_ssc0_txrx {
			atmel,pins =
				<AT91_PIOC 16 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PC16 periph A TK0 */
					AT91_PIOC 17 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PC17 periph A TF0 */
					AT91_PIOC 18 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PC18 periph A TD0 */
					AT91_PIOC 20 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PC20 periph A RF0 */
					AT91_PIOC 21 AT91_PERIPH_A AT91_PINCTRL_NONE>;	/* PC21 periph A RD0 */
		};
	};
	spi0 {
		pinctrl_spi0_cs0: spi0-cs0-0 {
			atmel,pins =
				<AT91_PIOD LEGACY_SPI_FLASH_CS AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
		};

		pinctrl_spi0_cs1: spi0-cs1-0 {
			atmel,pins =
				<AT91_PIOD CURRENT_SPI_FLASH_CS AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
		};

		pinctrl_spi0_cs2: spi0-cs2-0 {
			atmel,pins =
				<AT91_PIOD 15 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
		};

		pinctrl_spi0_cs3: spi0-cs3-0 {
			atmel,pins =
				<AT91_PIOD 16 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
		};

		pinctrl_spi0_cs4: spi0-cs4-0 {
			atmel,pins =
				<AT91_PIOC 28 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
		};
	};
	usart1 {
		pinctrl_usart1_8pin_ctrl: usart1_8pin_ctrl-0 {
			atmel,pins =
				<AT91_PIOC 0 AT91_PERIPH_GPIO AT91_PINCTRL_NONE
				 AT91_PIOC 1 AT91_PERIPH_GPIO AT91_PINCTRL_NONE
				 AT91_PIOC 2 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
		};
	};
	pinctrl_macb0_data_mii: macb0_data_mii {
		atmel,pins =
			<AT91_PIOB 0 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB0 periph A GTX0, conflicts with PWMH0 */
			 AT91_PIOB 1 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB1 periph A GTX1, conflicts with PWML0 */
			 AT91_PIOB 2 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB2 periph A GTX2, conflicts with TK1 */
			 AT91_PIOB 3 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB3 periph A GTX3, conflicts with TF1 */
			 AT91_PIOB 4 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB4 periph A GRX0, conflicts with PWMH1 */
			 AT91_PIOB 5 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB5 periph A GRX1, conflicts with PWML1 */
			 AT91_PIOB 6 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB6 periph A GRX2, conflicts with TD1 */
			 AT91_PIOB 7 AT91_PERIPH_A AT91_PINCTRL_NONE>;	/* PB7 periph A GRX3, conflicts with RK1 */
	};
	pinctrl_macb0_signal_mii: macb0_signal_mii {
		atmel,pins =
			<AT91_PIOB 8 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB8 periph A GTXCK, conflicts with PWMH2 */
			 AT91_PIOB 9 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB9 periph A GTXEN, conflicts with PWML2 */
			 AT91_PIOB 10 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB10 periph A GTXER, conflicts with RF1 */
			 AT91_PIOB 11 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB11 periph A GRXCK, conflicts with RD1 */
			 AT91_PIOB 12 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB12 periph A GRXDV, conflicts with PWMH3 */
			 AT91_PIOB 13 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB13 periph A GRXER, conflicts with PWML3 */
			 AT91_PIOB 14 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB14 periph A GCRS, conflicts with CANRX1 */
			 AT91_PIOB 15 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB15 periph A GCOL, conflicts with CANTX1 */
			 AT91_PIOB 16 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB16 periph A GMDC */
			 AT91_PIOB 17 AT91_PERIPH_A AT91_PINCTRL_NONE>;	/* PB17 periph A GMDIO */
	};
};

&hlcdc {
	atmel,vl-bpix = <4>;
	atmel,output-mode = <24>;
	atmel,guard-time = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lcd_base &pinctrl_lcd_pwm &pinctrl_lcd_rgb888>;
	status = "disabled";
	bootph-all;

	display-timings {
		bootph-all;
		800x480 {
			clock-frequency = <24000000>;
			hactive = <800>;
			vactive = <480>;
			hsync-len = <5>;
			hfront-porch = <64>;
			hback-porch = <64>;
			vfront-porch = <22>;
			vback-porch = <21>;
			vsync-len = <5>;
			bootph-all;
		};
	};
};

&ssc0 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ssc0_txrx>;
	status = "disabled";
};

&adc0 {
	pinctrl-names = "default";
	pinctrl-0 = <
		&pinctrl_adc0_ad0
		&pinctrl_adc0_ad1
		&pinctrl_adc0_ad2
		&pinctrl_adc0_ad3
		&pinctrl_adc0_ad4
		&pinctrl_adc0_ad5
		&pinctrl_adc0_ad6
		&pinctrl_adc0_ad7
		>;

	atmel,adc-vref = <2500>;
	atmel,adc-channels-used = <0xff>;
	atmel,adc-ts-wires = <4>;
	atmel,adc-ts-pressure-threshold = <10000>;
	status = "disabled";
};
