// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * som-a5d36-bare.dtsi - Device Tree Include file for the SOM-A5D36.
 *
 * Copyright (C) 2023 EMAC Inc.
 *
 */

#include "sama5d36.dtsi"
#include <dt-bindings/gpio/gpio.h>

#define LEGACY_SPI_FLASH_CS 	13
#define CURRENT_SPI_FLASH_CS 	14

/ {
	model = "EMAC SOM-A5D36";
	compatible = "emac,soma5d36", "atmel,sama5d36", "atmel,sama5d3", "atmel,sama5";

	chosen {
		stdout-path = &dbgu;
	};

	// 512 MB RAM
	memory@20000000 {
		reg = <0x20000000 0x20000000>;
	};

	clocks {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		slow_xtal {
			clock-frequency = <32768>;
		};

		main_xtal {
			clock-frequency = <12000000>;
		};

		audio_mclk: audio_mclk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <12288000>;
			clock-output-names = "audio-clk";
			gpios = <&pioC 19 GPIO_ACTIVE_HIGH>;
		};

		eth_phy_clk: eth_phy_clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <25000000>;
			clock-output-names = "phy-clk";
		};
	};

	leds {
		compatible = "gpio-leds";
		status {
			label = "status";
			gpios = <&pioE 22 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_1v8_vdd_ddr1: reg_1v8_vdd_ddr1 {
			compatible = "regulator-fixed";
			regulator-name = "1V8_VDD_DDR1";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
			vin-supply = <&rail_3v3_vcc>;
		};
		reg_1v2_vcc: reg_1v2_vcc {
			compatible = "regulator-fixed";
			regulator-name = "1V2_VCC";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-always-on;
			vin-supply = <&rail_3v3_vcc>;
		};
		rail_3v3_vcc: rail_3v3_vcc {
			compatible = "regulator-fixed";
			regulator-name = "3V3_VCC";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
		rail_3v3_stby: rail_3v3_stby {
			compatible = "regulator-fixed";
			regulator-name = "3V3_STBY";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
	};

	gpio_watchdog: watchdog {
		/* MAX6747 */
		compatible = "linux,wdt-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_watchdog>;
		gpios = <&pioD 6 GPIO_ACTIVE_LOW>;
		hw_algo = "level";
		hw_margin_ms = <1000>;
		status = "disabled";
	};
};

&{/ahb/apb/pinctrl@fffff200} {
	watchdog {
		pinctrl_watchdog: pinctrl_watchdog {
			atmel,pins =
				<AT91_PIOD 6 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP>;
		};
	};
	usba {
		pinctrl_usba_vbus: pinctrl_usba_vbus {
			atmel,pins =
				<AT91_PIOC 27 AT91_PERIPH_GPIO AT91_PINCTRL_DEGLITCH>;
		};
	};
	spi0 {
		pinctrl_spi0_cs0: spi0-cs0-0 {
			atmel,pins =
				<AT91_PIOD LEGACY_SPI_FLASH_CS AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
		};
	};
	macb0 {
		pinctrl_macb0_data_mii: macb0_data_mii {
			atmel,pins =
				<AT91_PIOB 0 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB0 periph A GTX0, conflicts with PWMH0 */
				AT91_PIOB 1 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB1 periph A GTX1, conflicts with PWML0 */
				AT91_PIOB 2 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB2 periph A GTX2, conflicts with TK1 */
				AT91_PIOB 3 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB3 periph A GTX3, conflicts with TF1 */
				AT91_PIOB 4 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB4 periph A GRX0, conflicts with PWMH1 */
				AT91_PIOB 5 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB5 periph A GRX1, conflicts with PWML1 */
				AT91_PIOB 6 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB6 periph A GRX2, conflicts with TD1 */
				AT91_PIOB 7 AT91_PERIPH_A AT91_PINCTRL_NONE>;	/* PB7 periph A GRX3, conflicts with RK1 */
		};
		pinctrl_macb0_signal_mii: macb0_signal_mii {
			atmel,pins =
				<AT91_PIOB 8 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB8 periph A GTXCK, conflicts with PWMH2 */
				AT91_PIOB 9 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB9 periph A GTXEN, conflicts with PWML2 */
				AT91_PIOB 10 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB10 periph A GTXER, conflicts with RF1 */
				AT91_PIOB 11 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB11 periph A GRXCK, conflicts with RD1 */
				AT91_PIOB 12 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB12 periph A GRXDV, conflicts with PWMH3 */
				AT91_PIOB 13 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB13 periph A GRXER, conflicts with PWML3 */
				AT91_PIOB 14 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB14 periph A GCRS, conflicts with CANRX1 */
				AT91_PIOB 15 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB15 periph A GCOL, conflicts with CANTX1 */
				AT91_PIOB 16 AT91_PERIPH_A AT91_PINCTRL_NONE	/* PB16 periph A GMDC */
				AT91_PIOB 17 AT91_PERIPH_A AT91_PINCTRL_NONE>;	/* PB17 periph A GMDIO */
		};
	};
};

&pioD {
	gpio_watchdog_en: watchdog-enable {
		gpio-hog;
		gpios = <8 GPIO_ACTIVE_LOW>;
		output-high;
		/* LOW - enabled , HIGH - disabled */
		line-name = "watchdog-enable";
	};
	gpio_macb0_en: macb0-enable {
		gpio-hog;
		gpios = <29 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "macb0-enable";
	};
};

&macb0 {
	phy-handle = <&ethphy1>;
	phy-mode = "rgmii";
	status = "disabled";
	#address-cells = <1>;
	#size-cells = <0>;
	ethphy1: ethernet-phy@1 {
		reg = <1>;
	};
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mmc0_clk_cmd_dat0 &pinctrl_mmc0_dat1_3>;
	status = "okay";
	slot@0 {
		reg = <0>;
		bus-width = <4>;
		non-removable;
		no-1-8-v;
	};
};

&i2c0 {
	status = "disabled";
	clock-frequency = <400000>;
	
	eeprom: atmel@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
		status = "disabled";
	};
};

&spi0 {
	dmas = <0>, <0>;	/*  Do not use DMA for spi0 */
	num-cs = <1>;
	pinctrl-0 = <&pinctrl_spi0 &pinctrl_spi0_cs0>;
	cs-gpios = <&pioD LEGACY_SPI_FLASH_CS 0>;
	status = "okay";
	boot_flash: m25p80@0 {
		compatible = "jedec,spi-nor";
		spi-max-frequency = <50000000>;
		reg = <0>;
	};
};

&usb0 {
	atmel,vbus-gpio = <&pioC 27 GPIO_ACTIVE_HIGH>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usba_vbus>;
	status = "disabled";
};

&usb1 {
	num-ports = <3>;
	status = "disabled";
};

// Enable Watchdog
&gpio_watchdog {
	status = "okay";
};
&gpio_watchdog_en {
	output-low;
	/* LOW - enabled , HIGH - disabled */
};


// COM B
&dbgu {
	dmas = <0>, <0>;	/*  Do not use DMA for dbgu */
	status = "okay";
};

&hlcdc {
	atmel,vl-bpix = <4>;
	atmel,output-mode = <24>;
	atmel,guard-time = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lcd_base &pinctrl_lcd_pwm &pinctrl_lcd_rgb888>;
	status = "disabled";
	bootph-all;

	display-timings {
		bootph-all;
		800x480 {
			clock-frequency = <24000000>;
			hactive = <800>;
			vactive = <480>;
			hsync-len = <5>;
			hfront-porch = <64>;
			hback-porch = <64>;
			vfront-porch = <22>;
			vback-porch = <21>;
			vsync-len = <5>;
			bootph-all;
		};
	};
};
