# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "5"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/recipes/emac-oe/meta-emac \
\
  ##OEROOT##/recipes/poky/meta \
  ##OEROOT##/recipes/meta-openembedded/meta-oe \
  ##OEROOT##/recipes/meta-openembedded/meta-networking \
  ##OEROOT##/recipes/meta-openembedded/meta-python \
  ##OEROOT##/recipes/meta-openembedded/meta-efl \
  ##OEROOT##/recipes/meta-openembedded/meta-multimedia \
  ##OEROOT##/recipes/meta-openembedded/meta-gnome \
  "
