# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "7"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

CORE_RECIPES = " \
    ##OEROOT##/emac-oe/meta-emac \
    \
    ##OEROOT##/poky/meta \
    ##OEROOT##/meta-openembedded/meta-oe \
    ##OEROOT##/meta-openembedded/meta-networking \
    ##OEROOT##/meta-openembedded/meta-multimedia \
    ##OEROOT##/meta-openembedded/meta-python \
    ##OEROOT##/meta-openembedded/meta-filesystems \
    ##OEROOT##/meta-openembedded/meta-perl \
"
# BSP BASED

ATMEL_RECIPES = " \
    ##OEROOT##/emac-oe/meta-emac-atmel \
    ##OEROOT##/meta-atmel \
"

NXP_RECIPES = " \
    ##OEROOT##/emac-oe/meta-emac-freescale \
    ##OEROOT##/meta-freescale \
    ##OEROOT##/meta-freescale-3rdparty \
"

# READ you need to add this here if you are using nvidia(tegra)
# TD_BBLAYERS_CONF_VERSION = "emactegra-3"
TEGRA_RECIPES = " \
    ##OEROOT##/emac-oe/meta-emac-tegra \
    ##OEROOT##/meta-tegra \
    ##OEROOT##/meta-tegra/contrib  \
    ##OEROOT##/meta-virtualization \
"

TI_RECIPES = " \
    ##OEROOT##/emac-oe/meta-emac-ti \
    ##OEROOT##/meta-ti \
    ##OEROOT##/meta-arm/meta-arm \
    ##OEROOT##/meta-arm/meta-arm-toolchain \
"
 
QT5_RECIPES = " \
    ##OEROOT##/emac-oe/meta-emac-qt5 \
    ##OEROOT##/meta-qt5  \   
    ##OEROOT##/meta-python2 \
"

CHROME_RECIPES += " \
    ##OEROOT##/meta-browser/meta-chromium \
    ##OEROOT##/meta-clang \
    ##OEROOT##/emac-oe/meta-emac-web/meta-chromium \
"

WEBSERVER_RECIPES += " \
    ##OEROOT##/emac-oe/meta-emac-web/meta-webserver \
"

XENOMAI_RECIPES += " \
    ##OEROOT##/emac-oe/meta-emac-xenomai \
"

## add the default and over write if need be
BBLAYERS ?= " \
  ${CORE_RECIPES} \
"
