# Where to place downloads
DL_DIR = "/srv/emac-oe/downloads"
STAMPS_DIR = "/srv/emac-oe/stamps"
# Where to place shared-state files
SSTATE_DIR = "/srv/emac-oe/sstate-cache"

# SSTATE_MIRRORS ?= "
# file://.* file:///srv/emac-oe/sstate-cache
# "

DISTRO ?= "emac"
# Add this if you are building for nvidia
#DISTRO = "emactegra"

PACKAGE_CLASSES ?= "package_rpm package_ipk package_deb"
IMAGE_FEATURES = "package-management"

SDKMACHINE ?= "x86_64"

USER_CLASSES ?= "buildstats image-mklibs image-prelink"

OE_TERMINAL = "auto"

PATCHRESOLVE = "noop"

BB_DISKMON_DIRS = "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K"


CONF_VERSION = "1"

# Enable build info & testing
INHERIT += "buildhistory"
INHERIT += "image-buildinfo"
INHERIT += "testimage"
INHERIT += "rm_work"

BUILDHISTORY_COMMIT = "1"

## Set these when building locally
#BB_NUMBER_THREADS ?= "20"
#PARALLEL_MAKE ?= "-j 12"

BBMULTICONFIG = " \
    qemu-x86-64 \
    qemu-armv7 \
"

######################
## EMAC arm boards
#######################

## EMAC's SoM-imx6 q/p & ul
## som-imx6(350GS) dual/quad
## with hardware acceleration & without
# MACHINE ?= "somimx6q-ha"
# MACHINE ?= "somimx6q"
# MACHINE ?= "somimx6q-rt"
# MACHINE ?= "somimx6ul"

## EMAC's SoM-3517
# MACHINE ?= "som3517"

## EMAC's Som-A5d36
# MACHINE ?= "soma5d36"
## EMAC's Som-A5d35
# MACHINE ?= "soma5d35"

## EMAC's Som-9x25
# MACHINE ?= "som9x25"
## EMAC's Som-9g45
# MACHINE ?= "som9g45"
## EMAC's Som-9g25
# MACHINE ?= "som9g25"
## EMAC's Som-9g20
# MACHINE ?= "som9g20"

## EMAC's Som-3517
# MACHINE ?= "som3517"

## EMAC's Som-3354
# MACHINE ?= "som3354"

## EMAC's iPac-9x25
# MACHINE ?= "ipac9x25"

######################
## EMAC x86 boards
#######################
## EMAC's vortex-sbc
# MACHINE ?= "vortex-sbc"

######################
## EMAC SETTINGS
#######################

## none, opengl, vulkan
EMAC_DISPLAY_HW ?= "none"

## none, linuxfb, wayland, x11
EMAC_DISPLAY ?= "none"

## coreutils, busybox
EMAC_SHELLMANAGER ?= "coreutils"

## systemd, sysvinit
EMAC_INITMANAGER ?= "systemd"

## connman, networkmanager, legacy
EMAC_NETWORKMANGER ?= "networkmanager"

## alsa, pulseaudio
EMAC_AUDIOMANAGER ?= "alsa"

## deb, rpm, ipk
EMAC_PACKAGEMANAGER ?= "rpm"

###########################################
## INTERNAL DO NOT CHANGE
###########################################
EMAC_CLIENT_NAME ?= "emac"
EMAC_IMAGE ?= "emac-image"

DEPLOY_DIR        = "/srv/emac-oe/deploy/${EMAC_CLIENT_NAME}/${EMAC_IMAGE}/${MACHINE}"
DEPLOY_DIR_IMAGE  = "${DEPLOY_DIR}/image"
LICENSE_DIRECTORY = "${DEPLOY_DIR}/license"

DEPLOY_DIR_DEB    = "${DEPLOY_DIR}/deb"
DEPLOY_DIR_IPK    = "${DEPLOY_DIR}/ipk"
DEPLOY_DIR_RPM    = "${DEPLOY_DIR}/rpm"

# TEST_TARGET = "emac-image"
# TEST_TARGET_IP = "<10.0.X.XXX>"
# TEST_SERVER_IP = "<10.0.X.XXX>"

## needs MACHINE, EMAC_CLIENT_NAME, and EMAC_IMAGE exported to env before run
