/*
 * som-a5d36.dtsi - Device Tree inclue file for the SOM-A5D36 with SOM-2xx carriers.
 *
 * Copyright (C) 2023 EMAC Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;
/plugin/;

/ {
	fragment@101 {
		target-path = "/";

		__overlay__ {
			variant = "EMAC SOM-A536P";
			compatible = "emac,soma536p", "emac,soma5d36", "atmel,sama5d36", "atmel,sama5d3", "atmel,sama5";
		};
	};
};

&can1 {
	status = "disabled";
};

&macb0 {
	phy-mode = "mii";
	pinctrl-0 = <&pinctrl_macb0_data_mii &pinctrl_macb0_signal_mii>;
};
