// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * som-a5d35-112es.dts - Device Tree file for the SOM-A5D35 w/ a 112es EMAC Carrier.
 *
 * Copyright (C) 2023 EMAC Inc.
 *
 */

/dts-v1/;
#include "som-a5d35-1xx.dts"
#include <dt-bindings/iio/adi,ad5592r.h>

/ {
	model = "EMAC SoM-A5D35 with SoM-112ES";

	clocks {
		audio_clk: oscillator@1 { 
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-output-names = "I2S_MCLK";
			clock-frequency = <12000000>;
		};
		wifi_ble_32k: oscillator@2 { 
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-output-names = "LPO_IN-i";
			clock-frequency = <32768>;
		};
		usb_expander_clk: oscillator@2 { 
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-output-names = "USB2660i-XTAL1";
			clock-frequency = <24000000>;
		};
	};

	regulators {
		wlan_en_reg: wlan-en-reg@9 {
			compatible = "regulator-fixed";
			reg = <9>;
			regulator-name = "wlan-en-regulator";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&pioC 15 1>;
			regulator-always-on;
			startup-delay-us = <2000>;
			enable-active-high;
        };
	};
};

&audio_center {
	status = "okay";
	simple-audio-card,bitclock-master = <&codec_master>;
	simple-audio-card,frame-master = <&codec_master>;
	codec_master: simple-audio-card,codec {
		sound-dai = <&codec>;
	};
};

&ssc1 {
    status = "okay";
};

&mmc1 {
    /delete-node/ slot@0;
};

&mmc1 {
	vmmc-supply = <&wlan_en_reg>;
    wifi@0 {
		compatible = "brcm,bcm4334-fmac", "brcm,bcm4329-fmac";
		reg = <0>;
		interrupt-parent = <&pioE>;
		interrupts = <31 IRQ_TYPE_EDGE_FALLING>;
		interrupt-names = "host-wake";
		status = "okay";
	};
};

&usart3 {
	bluetooth {         
		compatible = "brcm,bcm43438-bt";
		clocks = <&wifi_ble_32k 1>;
		clock-names = "lpo";
		vbat-supply = <&ldo_3v3_vcc>;
		vddio-supply = <&ldo_3v3_vcc>;
		shutdown-gpios = <&pioB 7 GPIO_ACTIVE_LOW>;
	};
};

&i2c0 {
	egpio: ad5593r@10 {
		#size-cells = <0>;
		#address-cells = <1>;
		#gpio-cells = <2>;
		compatible = "adi,ad5593r";
		reg = <0x10>;
		gpio-controller;

		gpio-line-names = "HDR1-5", "HDR1-6", "HDR1-7", "HDR1-8", "HDR1-9", "HDR1-10", "HDR1-11", "HDR1-12";

		channel@0 {
			reg = <0>;
			adi,mode = <CH_MODE_GPIO>;
			adi,off-state = <CH_OFFSTATE_PULLDOWN>;
		};

		channel@1 {
			reg = <1>;
			adi,mode = <CH_MODE_GPIO>;
			adi,off-state = <CH_OFFSTATE_PULLDOWN>;
		};

		channel@2 {
			reg = <2>;
			adi,mode = <CH_MODE_GPIO>;
			adi,off-state = <CH_OFFSTATE_PULLDOWN>;
		};

		channel@3 {
			reg = <3>;
			adi,mode = <CH_MODE_GPIO>;
			adi,off-state = <CH_OFFSTATE_PULLDOWN>;
		};

		channel@4 {
			reg = <4>;
			adi,mode = <CH_MODE_GPIO>;
			adi,off-state = <CH_OFFSTATE_PULLDOWN>;
		};

		channel@5 {
			reg = <5>;
			adi,mode = <CH_MODE_GPIO>;
			adi,off-state = <CH_OFFSTATE_PULLDOWN>;
		};

		channel@6 {
			reg = <6>;
			adi,mode = <CH_MODE_GPIO>;
			adi,off-state = <CH_OFFSTATE_PULLDOWN>;
		};

		channel@7 {
			reg = <7>;
			adi,mode = <CH_MODE_GPIO>;
			adi,off-state = <CH_OFFSTATE_PULLDOWN>;
		};

	};

	codec: sgtl5000@0a {
		#sound-dai-cells = <0>;
		reg = <0x0a>;
		compatible = "fsl,sgtl5000";
		clocks = <&audio_clk>;
		VDDA-supply = <&ldo_3v3_vcc>;
		VDDIO-supply = <&ldo_3v3_vcc>;
		VDDD-supply = <&ldo_1v8_vcc>;
	};
};
