// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * som-a5d35-1xx.dts - Device Tree file for the SOM-A5D35 w/ 1xx EMAC Carriers.
 *
 * Copyright (C) 2023 EMAC Inc.
 *
 */

/dts-v1/;
#include "som-a5d35.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "EMAC SoM-A5D35 with SoM-1xx";
	compatible = "emac,soma5d35", "atmel,sama5d35", "atmel,sama5d3", "atmel,sama5";

	regulators {
		power_5v_vcc: power_5v_vcc@5 {
			compatible = "regulator-fixed";
			reg = <5>;
			regulator-name = "POWER";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
		};
		ldo_3v3_vcc: ldo_3v3_vcc@6 {
			compatible = "regulator-fixed";
			reg = <6>;
			regulator-name = "3V3_LDO";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			vin-supply = <&power_5v_vcc>;
		};
		ldo_1v8_vcc: ldo_1v8_vcc@7 {
			compatible = "regulator-fixed";
			reg = <7>;
			regulator-name = "1V8_LDO";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			vin-supply = <&power_5v_vcc>;
		};
		battery_3v3_stby: battery_3v3_stby@8 {
			compatible = "regulator-fixed";
			reg = <8>;
			regulator-name = "BATTERY";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
		rail_3v3_vcc@2 {
			vin-supply = <&ldo_3v3_vcc>;
		};
		rail_3v3_stby@3 {
			vin-supply = <&battery_3v3_stby>;
		};
	};

	audio_center: sound {
		compatible = "simple-audio-card";
		status = "disabled";
		simple-audio-card,name = "sgtl5000";
		simple-audio-card,format = "i2s";
		simple-audio-card,widgets =
			"Line", "Line In",
			"Line", "Line Out";
		simple-audio-card,routing =
			"Line In", "Capture",
			"Line Out", "Playback";

		cpu_master: simple-audio-card,cpu {
			sound-dai = <&ssc1>;
		};
	};

};

&macb1 {
    status = "okay";
};
&can1 {
    status = "okay";
};
&i2c0 {
	status = "okay";
};
&usart0 {
    status = "okay";
};
&usart1 {
    status = "okay";
};
&usart2 {
    status = "okay";
};
&usart3 {
    status = "okay";
};
&mmc1 {
    pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mmc1_clk_cmd_dat0 &pinctrl_mmc1_dat1_3>;
	status = "okay";
	slot@0 {
		reg = <0>;
		bus-width = <4>;
		cd-gpios = <&pioC 13 GPIO_ACTIVE_LOW>;
	};
};

&usb0 {
    status = "okay";
};
&usb1 {
    status = "okay";
};
&usb2 {
    status = "okay";
};
