/*
 * som-a5d35.dtsi - Device Tree Include file for the SoM-A5D35.
 *
 *  Copyright (C) 2022 EMAC Inc.
 *
 * Licensed under GPLv2 or later.
 */
/dts-v1/;
#include "som-a5d35.dts"
#include <dt-bindings/gpio/gpio.h>

/{
    model = "EMAC SoM-A5D35 within SoM-150ES";
	compatible = "emac,som150es", "emac,soma5d35", "atmel,sama5d3", "atmel,sama5";

    chosen {
        stdout-path = &dbgu;
    };

    aliases {
        comA = &usart0;
        comC = &usart1;
        comB = &usart2;
        comD = &usart3;
        comE = &dbgu;
        sdcard = &mmc1;
		spi0 = &spi0;
	};

    clocks {
        audio_clk: oscillator@1 { // always on, fed into cpld and turned into prescale-a
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-output-names = "osc-a";
			clock-frequency = <24576000>;
		};
        audio_clk_prescale: oscillator@2 { // always on...
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-output-names = "prescale-a";
			clock-frequency = <12288000>;
		};
        clk_200khz: clk-200khz {
            compatible = "pwm-clock";
            #clock-cells = <0>;
            clock-frequency = <200000>;
            pwms = <&tcb0_pwm0 1 5000 0>; /* 200 kHz */
        };
        clk-8mhz: clk-8mhz {
            compatible = "pwm-clock";
            #clock-cells = <0>;
            clock-frequency = <8000000>;
            pwms = <&tcb0_pwm1 0 125 0>; /* 8 MHz */
        };
    };
    regulators {
        carrier_12v_acc: carrier-12v-acc {
			compatible = "regulator-fixed";
			regulator-name = "12V_ACC";
			regulator-min-microvolt = <12000000>;
			regulator-max-microvolt = <12000000>;
		};
        carrier_5v_vcc: som-5v-vcc {
			compatible = "regulator-fixed";
			regulator-name = "5V_VCC";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
		};
        carrier_3v3_vcc: som-3v3-vcc {
			compatible = "regulator-fixed";
			regulator-name = "3P3_VCC";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
		};
        som_3v3_vcc: som-3v3-vcc {
            vin-supply = <&carrier_3v3_vcc>;
        };
    };
    sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "cs4271";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&codec_master>;
		simple-audio-card,frame-master = <&codec_master>;
		simple-audio-card,widgets =
			"Line", "Line In",
			"Line", "Line Out";
		simple-audio-card,routing =
			"Line In", "Capture",
			"Line Out", "Playback";

		cpu_master: simple-audio-card,cpu {
			sound-dai = <&ssc1>;
		};

		codec_master: simple-audio-card,codec {
			sound-dai = <&cs4271>;
		};
        status = "okay";
	};
    auxdisplay {
        compatible = "hit,hd44780";

        data-gpios = <&pldioLCD 0 GPIO_ACTIVE_HIGH>,
                    <&pldioLCD 1 GPIO_ACTIVE_HIGH>,
                    <&pldioLCD 2 GPIO_ACTIVE_HIGH>,
                    <&pldioLCD 3 GPIO_ACTIVE_HIGH>;
        enable-gpios = <&pldioLCD 4 GPIO_ACTIVE_HIGH>;
        rs-gpios = <&pldioLCD 5 GPIO_ACTIVE_HIGH>;

        display-height-chars = <2>;
        display-width-chars = <16>;
        status = "okay";
    };

    matrix-keypad {
        compatible = "gpio-matrix-keypad";
        pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_keypad_irq>;
        debounce-delay-ms = <5>;
        col-scan-delay-us = <2>;
        wakeup-source = <&pioE 31 0>;
        status = "okay";

        row-gpios = <&pldioF 0 0
                    &pldioF 1 0
                    &pldioF 2 0
                    &pldioF 3 0>;

        col-gpios = <&pldioF 4 0
                    &pldioF 5 0
                    &pldioF 6 0
                    &pldioF 7 0>;

        linux,keymap = <0x0000001e /*A*/
                0x01000008 /*7*/
                0x02000005 /*4*/
                0x03000002 /*1*/
                0x0001000b /*0*/
                0x01010009 /*8*/
                0x02010006 /*5*/
                0x03010003 /*2*/
                0x00020030 /*B*/
                0x0102000a /*9*/
                0x02020007 /*6*/
                0x03020004 /*3*/
                0x00030021 /*F*/
                0x01030012 /*E*/
                0x02030020 /*D*/
                0x0303002e /*C*/
                >;
    };
};
&can1 {
    status = "okay";
};
&mmc1 {
    pinctrl-0 = <&pinctrl_mmc1_clk_cmd_dat0 &pinctrl_mmc1_dat1_3 &pinctrl_mmc1_cd>;
    status = "okay";
    slot@0 {
        reg = <0>;
        bus-width = <4>;
        cd-gpios = <&pioC 13 GPIO_ACTIVE_LOW>;
    };
};
&spi0 {
    pinctrl-0 = <&pinctrl_spi0
                    &pinctrl_spi0_cs0
                    &pinctrl_spi0_cs1
                    &pinctrl_spi0_cs2
                    &pinctrl_spi0_cs3>;
    cs-gpios = <&pioD 13 GPIO_ACTIVE_LOW
                &pioD 14 GPIO_ACTIVE_LOW
                &pioD 15 GPIO_ACTIVE_LOW
                &pioD 16 GPIO_ACTIVE_LOW>;

    mcp3208: mcp320x@1 {
        compatible = "mcp3208";
        spi-max-frequency = <1000000>;
        spi-cpol;
        spi-cpha;
        reg = <1>;
        status = "okay";
    };

    mcp4922: mcp49x2@2 {
        compatible = "mcp4922";
        spi-max-frequency = <1000000>;
        spi-cpol;
        spi-cpha;
        reg = <2>;
        vref = <&vref>;
        status = "okay";
    };

    cs4271: cs4271@3 {
        #sound-dai-cells = <0>;
        compatible = "cirrus,cs4271";
        spi-cpol;
        spi-cpha;
        reg = <3>;
        clocks = <&audio_clk_prescale>;
        spi-max-frequency = <1000000>;
        status = "okay";
    };
};
&macb1 {
    status = "okay";
};
&ssc1 {
    #sound-dai-cells = <0>;
    status = "okay";
};
&usart0 {
    atmel,use-dma-tx;
    atmel,use-dma-rx;
    status = "okay";
};

&usart1 {
    pinctrl-0 = <&pinctrl_usart1
        &pinctrl_usart1_rts_cts
        &pinctrl_usart1_dsr_dtr_dcd_ri>;
    atmel,use-dma-tx;
    atmel,use-dma-rx;
    status = "okay";

    rts-gpios = <&pioB 27 GPIO_ACTIVE_LOW>;
    cts-gpios = <&pioB 26 GPIO_ACTIVE_LOW>;
    dtr-gpios = <&pioB 8 GPIO_ACTIVE_LOW>;
    dsr-gpios = <&pioA 22 GPIO_ACTIVE_LOW>;
    dcd-gpios = <&pioA 20 GPIO_ACTIVE_LOW>;
    rng-gpios = <&pioB 12 GPIO_ACTIVE_LOW>;
};

&usart2 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_usart2 &pinctrl_usart2_rts_cts>;
    atmel,use-dma-tx;
    atmel,use-dma-rx;
    status = "okay";

    rts-gpios = <&pioE 24 GPIO_ACTIVE_LOW>;
    cts-gpios = <&pioE 23 GPIO_ACTIVE_LOW>;
};
&usart3 {
    atmel,use-dma-tx;
    atmel,use-dma-rx;
    status = "okay";
    rts-gpios = <&pldioD 0 GPIO_ACTIVE_LOW>;
    cts-gpios = <&pldioD 1 GPIO_ACTIVE_LOW>;
};
&usb0 {
    atmel,vbus-gpio = <&pioD 30 GPIO_ACTIVE_HIGH>;
    status = "okay";
};
&usb1 {
    status = "okay";
};
&usb2 {
    status = "okay";
};

&tcb0 {
    status = "okay";
    tcb0_pwm0: pwm@0 {
        compatible = "atmel,tcb-pwm";
        #pwm-cells = <3>;
        reg = <0>;
        pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_tcb0_tiob0>;
        status = "okay";
        /* pwms = <&tcb0_pwm0 (0=A,1=B) period 0>;
    };
    tcb0_pwm1: pwm@1 {
        compatible = "atmel,tcb-pwm";
        #pwm-cells = <3>;
        reg = <1>;
        pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_tcb0_tioa1>;
        status = "okay";
    };
};

&ebi {
    pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ebi_addr_6>;
    pldioA: cpld@3,2 {
        compatible = "brcm,bcm6345-gpio";
        reg-names = "dat", "dirout";
        reg = <3 2 1>, <3 3 1>;
        gpio-controller;
        #gpio-cells = <2>;
        #address-cells = <1>;
        #size-cells = <1>;
        bank-width = <1>;

        atmel,smc-read-mode = "nrd";
        atmel,smc-write-mode = "nwe";
        atmel,smc-bus-width = <8>;
        atmel,smc-ncs-rd-setup-ns = <8>;
        atmel,smc-ncs-wr-setup-ns = <8>;
        atmel,smc-nwe-setup-ns = <16>;
        atmel,smc-nrd-setup-ns = <16>;
        atmel,smc-ncs-rd-pulse-ns = <40>;
        atmel,smc-ncs-wr-pulse-ns = <40>;
        atmel,smc-nrd-pulse-ns = <24>;
        atmel,smc-nwe-pulse-ns = <24>;
        atmel,smc-nrd-cycle-ns = <64>;
        atmel,smc-nwe-cycle-ns = <64>;
        atmel,smc-tdf-ns = <16>;
    };

    
    pldioB: cpld@3,4 {
        compatible = "brcm,bcm6345-gpio";
        reg-names = "dat", "dirout";
        reg = <3 4 1>, <3 5 1>;
        gpio-controller;
        #address-cells = <1>;
        #size-cells = <1>;
        #gpio-cells = <2>;
        bank-width = <1>;
    };

    pldioC: cpld@3,6 {
        compatible = "brcm,bcm6345-gpio";
        reg-names = "dat";
        reg = <3 6 1>;
        gpio-controller;
        no-input;
        #address-cells = <1>;
        #size-cells = <1>;
        #gpio-cells = <1>;
        bank-width = <1>;
    };


    pldioD: cpld@3,8 {
        compatible = "brcm,bcm6345-gpio";
        reg-names = "dat";
        reg = <3 8 1>;
        gpio-controller;
        no-input;
        #address-cells = <1>;
        #size-cells = <1>;
        #gpio-cells = <1>;
        bank-width = <1>;
    };

    pldioE: cpld@3,10 {
        compatible = "brcm,bcm6345-gpio";
        reg-names = "dat", "dirout";
        reg = <3 10 1>, <3 11 1>;
        gpio-controller;
        #address-cells = <1>;
        #size-cells = <1>;
        #gpio-cells = <2>;
        bank-width = <1>;
    };

    pldioF: cpld@3,7 {
        compatible = "brcm,bcm6345-gpio";
        reg-names = "dat";
        reg = <3 7 1>;
        gpio-controller;
        #address-cells = <1>;
        #size-cells = <1>;
        #gpio-cells = <1>;
        bank-width = <1>;
        
    };

    cpld_id: cpld@3,0xf {
        compatible = "brcm,bcm6345-gpio";
        reg-names = "dat";
        reg = <3 0xf 1>;
        gpio-controller;
        no-input;
        #address-cells = <1>;
        #size-cells = <1>;
        #gpio-cells = <1>;
        bank-width = <1>;
    };

    pldioLCD: cpld@3,0 {
        compatible = "brcm,bcm6345-gpio";
        reg-names = "dat", "dirout";
        reg = <3 0 1>, <3 1 1>;
        gpio-controller;
        #gpio-cells = <2>;
        #address-cells = <1>;
        #size-cells = <1>;
        bank-width = <1>;

        atmel,smc-read-mode = "nrd";
        atmel,smc-write-mode = "nwe";
        atmel,smc-bus-width = <8>;
        atmel,smc-ncs-rd-setup-ns = <8>;
        atmel,smc-ncs-wr-setup-ns = <16>;
        atmel,smc-nwe-setup-ns = <27>;
        atmel,smc-nrd-setup-ns = <6>;
        atmel,smc-ncs-rd-pulse-ns = <6>;
        atmel,smc-ncs-wr-pulse-ns = <81>;
        atmel,smc-nrd-pulse-ns = <6>;
        atmel,smc-nwe-pulse-ns = <94>;
        atmel,smc-nrd-cycle-ns = <14>;
        atmel,smc-nwe-cycle-ns = <128>;
        atmel,smc-tdf-ns = <15>;
    };
};

&pinctrl {
    ebi {
        pinctrl_ebi_addr_6: ebi-addr-6 {
			atmel,pins =
				<AT91_PIOE 0 AT91_PERIPH_A AT91_PINCTRL_NONE
					AT91_PIOE 1 AT91_PERIPH_A AT91_PINCTRL_NONE
					AT91_PIOE 2 AT91_PERIPH_A AT91_PINCTRL_NONE
					AT91_PIOE 3 AT91_PERIPH_A AT91_PINCTRL_NONE
					AT91_PIOE 4 AT91_PERIPH_A AT91_PINCTRL_NONE
					AT91_PIOE 5 AT91_PERIPH_A AT91_PINCTRL_NONE>;
		};
        pinctrl_keypad_irq: keypad-irq {
			atmel,pins =
				<AT91_PIOE 31 AT91_PERIPH_GPIO AT91_PINCTRL_DEBOUNCE>;
		};
    };
    spi0 {
        pinctrl_spi0_cs1: spi0_cs1 {
            atmel,pins =
                <AT91_PIOD 14 AT91_PERIPH_A AT91_PINCTRL_PULL_UP>;
        };
        pinctrl_spi0_cs2: spi0_cs2 {
            atmel,pins =
                <AT91_PIOD 15 AT91_PERIPH_A AT91_PINCTRL_PULL_UP>;
        };
        pinctrl_spi0_cs3: spi0_cs3 {
            atmel,pins =
                <AT91_PIOD 16 AT91_PERIPH_A AT91_PINCTRL_PULL_UP>;
        };
    };
    ssc1 {
        pinctrl_ssc1_rx: ssc1_rx {
            atmel,pins =
                <AT91_PIOB 11 AT91_PERIPH_B AT91_PINCTRL_NONE>;	/* PB11 periph B RD1, conflicts with GRXCK */
        };
    };

    usart1 {
        pinctrl_usart1_dsr_dtr_dcd_ri: usart1_dsr_dtr_dcd_ri-0 {
            atmel,pins =
                <AT91_PIOA 20 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP 	// DCD
                    AT91_PIOA 22 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP 	// DSR
                    AT91_PIOB 8 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP 		// DTR
                    AT91_PIOB 12 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP>; 	// RI
        };
    };
    tcb0 {
        pinctrl_tcb0_tiob0: tcb0_tiob0 {
            atmel,pins =
                <AT91_PIOD 6 AT91_PERIPH_B AT91_PINCTRL_PULL_NONE>;
        };
        pinctrl_tcb0_tioa1: tcb0_tioa1 {
            atmel,pins =
                <AT91_PIOC 12 AT91_PERIPH_B AT91_PINCTRL_PULL_NONE>;
        };
    };
};

&pioA {
	gpio-line-names = 
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"COM-C DCD1",	// PA20 / PMWH0
		"",
		"COM-C DSR1",	// PA22 / PWMH1
		"WDT_PULSE", 	//PA23
		"WDT_EN#", 		//PA24
		"ADREF_EN", 	//PA25
		"STATUS", 		//PA26
		"",
		"",
		"",
		"HDR4-23 I2C0-SDA",	// PA30 / TWD0 / URXD1
		"HDR4-21 I2C0-SCL";	// PA31 / TWCK0 / UTXD1
};
&pioB {
	gpio-line-names = 
		"",
		"",
		"SCLK-5 cs4271",	// PB2 / TK1
		"LRCK-4 cs4271",	// PB3 / TF1
		"",
		"",
		"SDIN-7 cs4271",	// PB6 / TD1
		"HDR4-35",	// PB7 / RK1
		"COM-C DTR1",	// PB8 / PWMH2
		"",
		"",	// PB10 / RF1 //  no rfsync of ssc
		"SDOUT-6 cs4271",	// PB11 / RD1
		"COM-C RI1",	// PB12 / PWMH3
		"",
		"CANRX1",	// PB14 / CANRX1
		"CANTX1",	// PB15 / CANTX1
		"",
		"",
		"",
		"MCI1_CDA",	// PB19 / MCI1_CDA
		"MCI1_DA0",	// PB20 / MCI1_DA0
		"MCI1_DA1",	// PB21 / MCI1_DA1
		"MCI1_DA2",	// PB22 / MCI1_DA2
		"MCI1_DA3",	// PB23 / MCI1_DA3
		"MCI1_CK",	// PB24 / MCI1_CK
		"",
		"COM-C CTS1",	// PB26 / CTS1
		"COM-C RTS1",	// PB27 / RTS1
		"COM-C RXD1",	// PB28 / RXD1
		"COM-C TXD1",	// PB29 / TXD1
		"COM-E DBG UART RX",	// PB30 / DRXD
		"COM-E DBG UART TX";	// PB31 / DTXD
};
&pioC {
	gpio-line-names = 
		"ETX0", 	//PC0
		"ETX1", 	//PC1
		"ERX0", 	//PC2
		"ERX1", 	//PC3
		"ETXEN", 	//PC4
		"ECRSDV", 	//PC5
		"ERXER", 	//PC6
		"EREFCK", 	//PC7
		"EMDC", 	//PC8
		"EMDIO", 	//PC9
		"ETH_OSC_EN", 	//PC10
		"",
		"8MHz CLK",	// PC12 / TIOA1
		"MCI1_DET",	// PC13 / TIOB1
		"HDR4-5",	// PC14 / TCLK1
		"HDR4-29",	// PC15 / PCK2
		"",
		"",
		"",
		"",
		"",
		"",
		"HDR4-37",	// PC22 / SPI1_MISO
		"HDR4-43",	// PC23 / SPI1_MOSI
		"HDR4-39",	// PC24 / SPI1_SPCK
		"",
		"MCLK-3 cs4271",	// PC26 / SPI1_NPCS1 / TWD1
		"HDR4-11", 	// PC27 / SPI1_NPCS2 / TWCK1
		"",
		"",
		"",
		"HDR4-19",	// PC31 / FIQ / PWMFI1
};
&pioD {
	gpio-line-names = 
		"MCI0_CDA", 	//PD0
		"MCI0_DA0", 	//PD1
		"MCI0_DA1", 	//PD2
		"MCI0_DA2", 	//PD3
		"MCI0_DA3", 	//PD4
		"",
		"200KHz CLK",	// PD6 / TIOB0 / PWML2
		"",
		"",
		"MCI0_CK", 	//PD9
		"SPI0_MISO pin-122",	// SPI0_MISO
		"SPI0_MOSI pin-121",	// SPI0_MOSI
		"SPI0_SPCK pin-120",	// SPI0_SPCK
		"SPI0_CS0", 	//PD13
		"SPI0_CS1",	// PD14 / mcp3208
		"SPI0_CS2",	// PD15 / mcp4922
		"SPI0_CS3",	// PD16 / cs4271
		"COM-A RXD0",	// PD17 / RXD0
		"COM-A TXD0",	// PD18 / TXD0
		"ETH_INT", 	//PD19
		"HDR8-11",	// PD20 / AD0
		"HDR8-12",	// PD21 / AD1
		"HDR8-13",	// PD22 / AD2
		"HDR8-14",	// PD23 / AD3
		"",
		"",
		"",
		"",
		"",
		"",
		"USB_VBUS",	// PD30 / AD10 / PCK0
		"",
};
&pioE {
	gpio-line-names = 
		"CPLD A0",	// EBI_A0
		"CPLD A1",	// EBI_A1
		"CPLD A2",	// EBI_A2
		"CPLD A3",	// EBI_A3
		"CPLD A4",	// EBI_A4
		"CPLD A5",	// EBI_A5
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"COM-D RXD3",	// PE18 / EBI_A18 / RXD3
		"COM-D TXD3",	// PE19 / EBI_A19 / TXD3
		"",
		"",
		"",
		"COM-B CTS2",	// PE23 / CTS2
		"COM-B RTS2",	// PE24 / RTS2
		"COM-B RXD2",	// PE25 / RXD2
		"COM-B TXD2",	// PE26 / EBI_NCS0 / TXD2
		"",
		"",
		"",
		"",
		"CPLD IRQ",	// PE31 / IRQ / PWML1
};
