/*
 * som-a5d35-112es.dtsi - Device Tree file for the SoM-A5D35 with SoM-112ES.
 *
 *  Copyright (C) 2022 EMAC Inc.
 *
 * Licensed under GPLv2 or later.
 */
/dts-v1/;
#include "som-a5d35.dts"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "EMAC SoM-A5D35 with SoM-112ES";
	compatible = "emac,som112es", "emac,soma5d35", "atmel,sama5d3", "atmel,sama5";

	chosen {
        stdout-path = &dbgu;
    };

    aliases {
        comA = &usart0;
        comC = &usart1;
        comB = &usart2;
		usbconsole = &dbgu;
		spi0 = &spi0;
	};

	clocks {
		audio_clk: oscillator@1 { 
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-output-names = "I2S_MCLK";
			clock-frequency = <12000000>;
		};
		wifi_ble_32k: oscillator@2 { 
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-output-names = "LPO_IN-i";
			clock-frequency = <32768>;
		};
		usb_expander_clk: oscillator@2 { 
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-output-names = "USB2660i-XTAL1";
			clock-frequency = <24000000>;
		};
	};

	regulators {
		carrier_5v_vcc: som-5v-vcc {
			compatible = "regulator-fixed";
			regulator-name = "5V_VCC";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
		};
        carrier_3v3_vcc: som-3v3-vcc {
			compatible = "regulator-fixed";
			regulator-name = "3P3_VCC";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
            vin-supply = <&carrier_5v_vcc>;
		};
		carrier_1v8_vcc: som-1v8-vcc {
			compatible = "regulator-fixed";
			regulator-name = "1P8_VCC";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
            vin-supply = <&carrier_3v3_vcc>;
		};
        som_3v3_vcc: som-3v3-vcc {
            vin-supply = <&carrier_3v3_vcc>;
        };
		wlan_en_reg: wlan-en-reg {
			compatible = "regulator-fixed";
			regulator-name = "wlan-en-regulator";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&pioC 15 1>;
			regulator-always-on;
			startup-delay-us = <2000>;
			enable-active-high;
        };
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "sgtl5000";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&codec_master>;
		simple-audio-card,frame-master = <&codec_master>;
		simple-audio-card,widgets =
			"Line", "Line In",
			"Line", "Line Out";
		simple-audio-card,routing =
			"Line In", "Capture",
			"Line Out", "Playback";

		cpu_master: simple-audio-card,cpu {
			sound-dai = <&ssc1>;
		};

		codec_master: simple-audio-card,codec {
			sound-dai = <&codec>;
		};
	};

};
&can1 {
    status = "okay";
};
&mmc1 {
    status = "okay";
    wifi@0 {
		compatible = "brcm,bcm4334-fmac", "brcm,bcm4329-fmac";
		reg = <0>;
		interrupt-parent = <&pioE>;
		interrupts = <31 IRQ_TYPE_EDGE_FALLING>;
		interrupt-names = "host-wake";
		status = "okay";
	};
};
&macb1 {
    status = "okay";
};
&ssc1 {
    #sound-dai-cells = <0>;
    status = "okay";
};
&usart0 {
    atmel,use-dma-tx;
    atmel,use-dma-rx;
    status = "okay";
};
&usart1 {
    pinctrl-0 = <&pinctrl_usart1
        &pinctrl_usart1_rts_cts
        &pinctrl_usart1_dsr_dtr_dcd_ri>;
    atmel,use-dma-tx;
    atmel,use-dma-rx;
    status = "okay";

    rts-gpios = <&pioB 27 GPIO_ACTIVE_LOW>;
    cts-gpios = <&pioB 26 GPIO_ACTIVE_LOW>;
    dtr-gpios = <&pioB 8 GPIO_ACTIVE_LOW>;
    dsr-gpios = <&pioA 22 GPIO_ACTIVE_LOW>;
    dcd-gpios = <&pioA 20 GPIO_ACTIVE_LOW>;
    rng-gpios = <&pioB 12 GPIO_ACTIVE_LOW>;
};
&usart2 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_usart2 &pinctrl_usart2_rts_cts>;
    atmel,use-dma-tx;
    atmel,use-dma-rx;
    status = "okay";

    rts-gpios = <&pioE 24 GPIO_ACTIVE_LOW>;
    cts-gpios = <&pioE 23 GPIO_ACTIVE_LOW>;
};
&usart3 {
    atmel,use-dma-tx;
    atmel,use-dma-rx;
    status = "okay";
	bluetooth {         
		compatible = "brcm,bcm43438-bt";
		clocks = <&wifi_ble_32k 1>;
		clock-names = "lpo";
		vbat-supply = <&carrier_3v3_vcc>;
		vddio-supply = <&carrier_3v3_vcc>;
		shutdown-gpios = <&pioB 7 GPIO_ACTIVE_LOW>;
	};
};
&usb0 {
    atmel,vbus-gpio = <&pioD 30 GPIO_ACTIVE_HIGH>;
    status = "okay";
};
&usb1 {
    status = "okay";
};
&usb2 {
    status = "okay";
};
&i2c0 {
	status = "okay";
	egpio: ad5593r@10 {
		#size-cells = <0>;
		#address-cells = <1>;
		#gpio-cells = <2>;
		compatible = "adi,ad5593r";
		reg = <0x10>;
		gpio-controller;

		channel@0 {
			reg = <0>;
			adi,mode = <CH_MODE_GPIO>;
			adi,off-state = <CH_OFFSTATE_PULLDOWN>;
		};

		channel@1 {
			reg = <1>;
			adi,mode = <CH_MODE_GPIO>;
			adi,off-state = <CH_OFFSTATE_PULLDOWN>;
		};

		channel@2 {
			reg = <2>;
			adi,mode = <CH_MODE_GPIO>;
			adi,off-state = <CH_OFFSTATE_PULLDOWN>;
		};

		channel@3 {
			reg = <3>;
			adi,mode = <CH_MODE_GPIO>;
			adi,off-state = <CH_OFFSTATE_PULLDOWN>;
		};

		channel@4 {
			reg = <4>;
			adi,mode = <CH_MODE_DAC_AND_ADC>;
			adi,off-state = <CH_OFFSTATE_PULLDOWN>;
		};

		channel@5 {
			reg = <5>;
			adi,mode = <CH_MODE_DAC_AND_ADC>;
			adi,off-state = <CH_OFFSTATE_PULLDOWN>;
		};

		channel@6 {
			reg = <6>;
			adi,mode = <CH_MODE_DAC_AND_ADC>;
			adi,off-state = <CH_OFFSTATE_PULLDOWN>;
		};

		channel@7 {
			reg = <7>;
			adi,mode = <CH_MODE_DAC_AND_ADC>;
			adi,off-state = <CH_OFFSTATE_PULLDOWN>;
		};

	};

	codec: sgtl5000@0a {
		#sound-dai-cells = <0>;
		reg = <0x0a>;
		compatible = "fsl,sgtl5000";
		clocks = <&audio_clk>;
		VDDA-supply = <&carrier_3v3_vcc>;
		VDDIO-supply = <&carrier_3v3_vcc>;
		VDDD-supply = <&carrier_1v8_vcc>;
	};
};

&pinctrl {
    ssc1 {
        pinctrl_ssc1_rx: ssc1_rx {
            atmel,pins =
                <AT91_PIOB 11 AT91_PERIPH_B AT91_PINCTRL_NONE>;	/* PB11 periph B RD1, conflicts with GRXCK */
        };
    };

    usart1 {
        pinctrl_usart1_dsr_dtr_dcd_ri: usart1_dsr_dtr_dcd_ri-0 {
            atmel,pins =
                <AT91_PIOA 20 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP 	// DCD
                    AT91_PIOA 22 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP 	// DSR
                    AT91_PIOB 8 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP 		// DTR
                    AT91_PIOB 12 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP>; 	// RI
        };
    };
};

&pioA {
	gpio-line-names = 
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"COM-C DCD1",	// PA20 / PMWH0
		"",
		"COM-C DSR1",	// PA22 / PWMH1
		"WDT_PULSE", 	//PA23
		"WDT_EN#", 		//PA24
		"ADREF_EN", 	//PA25
		"STATUS", 		//PA26
		"",
		"",
		"",
		"TWD0 +(HDR1-43, MicroBus-11)",		// PA30 / TWD0 / URXD1
		"TWCK0 +(HDR1-41, MicroBus-12)";	// PA31 / TWCK0 / UTXD1
};
&pioB {
	gpio-line-names = 
		"",
		"",
		"I2S_SCK",	// PB2 / TK1
		"I2S_LRCLK",	// PB3 / TF1
		"",
		"",
		"I2C_DOUT",	// PB6 / TD1
		"Bluetooth RegOn",	// PB7 / RK1
		"COM-C DTR1",	// PB8 / PWMH2
		"",
		"",	// PB10 / RF1
		"I2S_DIN",	// PB11 / RD1
		"COM-C RI1",	// PB12 / PWMH3
		"",
		"CANRX1",	// PB14 / CANRX1
		"CANTX1",	// PB15 / CANTX1
		"",
		"",
		"",
		"WiFi_CMD",	// PB19 / MCI1_CDA
		"WiFi_DAT0",	// PB20 / MCI1_DA0
		"WiFi_DAT1",	// PB21 / MCI1_DA1
		"WiFi_DAT2",	// PB22 / MCI1_DA2
		"WiFi_DAT3",	// PB23 / MCI1_DA3
		"WiFi_SCLK",	// PB24 / MCI1_CK
		"",
		"COM-C CTS1",	// PB26 / CTS1
		"COM-C RTS1",	// PB27 / RTS1
		"COM-C RXD1",	// PB28 / RXD1
		"COM-C TXD1",	// PB29 / TXD1
		"COM-E DBG UART RX",	// PB30 / DRXD
		"COM-E DBG UART TX";	// PB31 / DTXD
};
&pioC {
	gpio-line-names = 
		"ETX0", 	//PC0
		"ETX1", 	//PC1
		"ERX0", 	//PC2
		"ERX1", 	//PC3
		"ETXEN", 	//PC4
		"ECRSDV", 	//PC5
		"ERXER", 	//PC6
		"EREFCK", 	//PC7
		"EMDC", 	//PC8
		"EMDIO", 	//PC9
		"ETH_OSC_EN", 	//PC10
		"",
		"HDR1-44, MicroBus-16",	// PC12 / TIOA1
		"MCI1_DET",	// PC13 use this to determine if wifi is populated
		"Jumper 9 switch",	// PC14 
		"WiFi RegOn",	// PC15 / PCK2
		"",
		"",
		"",
		"",
		"",
		"",
		"HDR1-19",	// PC22 / SPI1_MISO
		"HDR1-21",	// PC23 / SPI1_MOSI
		"HDR1-23",	// PC24 / SPI1_SPCK
		"",
		"HDR1-25",	// PC26 / SPI1_NPCS1 / TWD1
		"HDR1-27", 	// PC27 / SPI1_NPCS2 / TWCK1
		"",
		"",
		"",
		"HDR1-42, MicroBus-15";	// PC31 / FIQ / PWMFI1
};
&pioD {
	gpio-line-names = 
		"MCI0_CDA", 	//PD0
		"MCI0_DA0", 	//PD1
		"MCI0_DA1", 	//PD2
		"MCI0_DA2", 	//PD3
		"MCI0_DA3", 	//PD4
		"",
		"HDR1-46",	// PD6 / TIOB0 / PWML2
		"",
		"",
		"MCI0_CK", 	//PD9
		"SPI0_MISO pin-122",	// SPI0_MISO
		"SPI0_MOSI pin-121",	// SPI0_MOSI
		"SPI0_SPCK pin-120",	// SPI0_SPCK
		"SPI0_CS0", 	//PD13
		"SPI0_CS1_EXT (MicroBus-3)",	// PD14 / SCK0 / SPI0_CS1 / CANRX0
		"SPI0_CS2_EXT (HDR1-35)",	// PD15 / CTS0 / SPI0_CS2 / CANTX0
		"SPI0_CS3_EXT (HDR1-37)",	// PD16 / RTS0 / SPI0_CS3 / PWMFI2
		"COM-A RXD0",	// PD17 / RXD0
		"COM-A TXD0",	// PD18 / TXD0
		"ETH_INT", 	//PD19
		"HDR1-13, MicroBus-1",	// PD20 / AD0
		"HDR1-14",	// PD21 / AD1
		"HDR1-15",	// PD22 / AD2
		"HDR1-16",	// PD23 / AD3
		"",
		"",
		"",
		"",
		"",
		"",
		"USB_VBUS",	// PD30 / AD10 / PCK0
		"";
};
&pioE {
	gpio-line-names = 
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"",
		"COM-D RXD3",	// PE18 / EBI_A18 / RXD3
		"COM-D TXD3",	// PE19 / EBI_A19 / TXD3
		"".
		"".
		"",
		"COM-B CTS2",	// PE23 / CTS2
		"COM-B RTS2",	// PE24 / RTS2
		"COM-B RXD2",	// PE25 / RXD2
		"COM-B TXD2",	// PE26 / EBI_NCS0 / TXD2
		"".
		"",
		"",
		"",
		"Wifi Host Wakeup IRQ";	// PE31 / IRQ / PWML1
};

&egpio {
	gpio-line-names = 
		"HDR1-5",
		"HDR1-6",
		"HDR1-7",
		"HDR1-8",
		"HDR1-9",
		"HDR1-10",
		"HDR1-11",
		"HDR1-12";
};
