CONFIG_SAMA5D3X=y
CONFIG_CPU_CLK_528MHZ=y
CONFIG_HW_BANNER="\"\\n\\nAT91Bootstrap 4.0.5-emac-kirkstone (\" COMPILE_TIME \") [patched]\\n\\n\""
CONFIG_DDR_SET_BY_TIMING=y
CONFIG_LPDDR2=y
CONFIG_DBW_32=y
CONFIG_DDR_4_GBIT=y
CONFIG_LPDDR2_S4=y
CONFIG_NOT_DQS_DISABLED=y
CONFIG_DDR_TRSA=6
CONFIG_DDR_TRCD=2
CONFIG_DDR_TWR=3
CONFIG_DDR_TRC=8
CONFIG_DDR_TRP=2
CONFIG_DDR_TRRD=2
CONFIG_DDR_TWTR=2
CONFIG_DDR_TMRD=3
CONFIG_DDR_TRFC=17
CONFIG_DDR_TXSNR=18
CONFIG_DDR_TXP=2
CONFIG_DDR_TRPA=3
CONFIG_DDR_TRTP=2
CONFIG_DDR_TFAW=8
CONFIG_DDR_RTC=514
CONFIG_IMG_ADDRESS="0x00010000"
CONFIG_BOARD_QUIRK_SAMA5D3=y
