/*
 * Copyright (C) 2023 EMAC Incorporated - http://www.emacinc.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "am5728.dtsi"
#include "am57xx-industrial-grade.dtsi"

#include "dra74x-mmc-iodelay.dtsi"

#include "dra74-ipu-dsp-common.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/net/qca-ar803x.h>

/ {
	model = "EMAC Inc. SoM-5728M";
	compatible = "emac,som-5728m", "ti,am5728", "ti,dra742", "ti,dra74", "ti,dra7";

	aliases {
		rtc0 = &rtc_rx8803;
		rtc1 = &tps659038_rtc;
		rtc2 = &rtc;
        mmcblk0 = &mmc1;
        mmcblk1 = &mmc2;
		spi1 = &mcspi3;
		spi2 = &mcspi4;
		gpio0 = &gpio1;
		gpio1 = &gpio2;
		gpio2 = &gpio3;
		gpio3 = &gpio4;
		gpio4 = &gpio5;
		gpio5 = &gpio6;
		gpio6 = &gpio7;
		gpio7 = &gpio8;
	};

	chosen {
		stdout-path = &uart3;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x40000000>; /* 1GB configuration */
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		ipu2_memory_region: ipu2-memory@95800000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x95800000 0x0 0x3800000>;
			reusable;
			status = "okay";
		};

		dsp1_memory_region: dsp1-memory@99000000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x99000000 0x0 0x4000000>;
			reusable;
			status = "okay";
		};

		ipu1_memory_region: ipu1-memory@9d000000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x9d000000 0x0 0x2000000>;
			reusable;
			status = "okay";
		};

		dsp2_memory_region: dsp2-memory@9f000000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x9f000000 0x0 0x800000>;
			reusable;
			status = "okay";
		};
	};

	vmain: fixedregulator-vmain {
		compatible = "regulator-fixed";
		regulator-name = "VMAIN";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	leds {
		compatible = "gpio-leds";
		led0 {
			label = "status";
			gpios = <&gpio3 0 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};
	};

	tpd12s015_enc: encoder {
		compatible = "ti,tpd12s015";
		status = "okay";
		gpios = <0>, /* optional CT_CP_HPD */
			<0>, /* optional LS_OE */
			<&gpio7 12 GPIO_ACTIVE_HIGH>;	/* HPD */
		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				tpd12s015_in: endpoint {
					remote-endpoint = <&hdmi_out>;
				};
			};

			port@1 {
				reg = <1>;

				tpd12s015_out: endpoint {
					remote-endpoint = <0>;
				};
			};
		};
	};

	/* Dual-MAC Ethernet application node on PRU-ICSS2 */
	pruss2_dual_eth: pruss2_eth {
		compatible = "ti,am57-prueth";
		ti,prus = <&pru2_0>, <&pru2_1>;
		sram = <&ocmcram1>;
		mii-rt = <&pruss2_mii_rt>;
		iep = <&pruss2_iep>;
		interrupts = <20 2 2>, <21 3 3>;
		interrupt-names = "rx_lre_hp", "rx_lre_lp";
		interrupt-parent = <&pruss2_intc>;
		status = "disabled";

		pruss2_emac0: ethernet-mii0 {
			phy-handle = <&pruss2_eth0_phy>;
			phy-mode = "mii";
			interrupts = <20 2 2>, <26 6 6>;
			interrupt-names = "rx", "emac_ptp_tx";
			ti,no-half-duplex;
			/* Filled in by bootloader */
			local-mac-address = [00 00 00 00 00 00];
			status = "disabled";
		};

		pruss2_emac1: ethernet-mii1 {
			phy-handle = <&pruss2_eth1_phy>;
			phy-mode = "mii";
			interrupts = <21 3 3>, <27 9 7>;
			interrupt-names = "rx", "emac_ptp_tx";
			ti,no-half-duplex;
			/* Filled in by bootloader */
			local-mac-address = [00 00 00 00 00 00];
			status = "disabled";
		};
	};
};

&pruss2_iep {
	interrupt-parent = <&pruss2_intc>;
	interrupts = <7 7 8>;
	interrupt-names = "iep_cap_cmp";
};

&cpu0 {
	vdd-supply = <&vdd_mpu_reg>;
	voltage-tolerance = <1>;
	clock-frequency = <1000000000>;
};

&cpu_trips {
	cpu_alert1: cpu_alert1 {
		temperature = <50000>; /* millicelsius */
		hysteresis = <2000>; /* millicelsius */
		type = "active";
	};
};

/*
 * i2c
 */
&i2c1 {
	status = "okay";
	clock-frequency = <400000>;
	tps659038: tps659038@58 {
		compatible = "ti,tps659038";
		reg = <0x58>;
		interrupt-parent = <&gpio4>;
		interrupts = <29 IRQ_TYPE_LEVEL_LOW>;
		#interrupt-cells = <2>;
		interrupt-controller;

		ti,palmas-override-powerhold;
		ti,system-power-controller;

		tps659038_pmic {
			compatible = "ti,tps659038-pmic";
			smps12-in-supply = <&vmain>;
			smps3-in-supply = <&vmain>;
			smps45-in-supply = <&vmain>;
			smps6-in-supply = <&vmain>;
			smps7-in-supply = <&vmain>;
			smps8-in-supply = <&vmain>;
			smps9-in-supply = <&vmain>;
			ldo1-in-supply = <&vmain>;
			ldo2-in-supply = <&vmain>;
			ldo3-in-supply = <&vmain>;
			ldo4-in-supply = <&vmain>;
			ldo9-in-supply = <&vmain>;
			ldoln-in-supply = <&vmain>;
			ldousb-in-supply = <&vmain>;
			ldortc-in-supply = <&vmain>;

			regulators {
				vdd_mpu_reg: smps12 {
					regulator-name = "smps12";
					regulator-min-microvolt = < 850000>;
					regulator-max-microvolt = <1250000>;
					regulator-always-on;
					regulator-boot-on;
				};

				vdd_ddr_reg: smps3 {
					/* VDD_DDR */
					regulator-name = "smps3";
					regulator-min-microvolt = <1350000>;
					regulator-max-microvolt = <1350000>;
					regulator-always-on;
					regulator-boot-on;
				};

				vdd_dspeve_reg: smps45 {
					/* VDD_DSPEVE */
					regulator-name = "smps45";
					regulator-min-microvolt = < 850000>;
					regulator-max-microvolt = <1250000>;
					regulator-always-on;
					regulator-boot-on;
				};

				vdd_gpu_reg: smps6 {
					/* VDD_GPU */
					regulator-name = "smps6";
					regulator-min-microvolt = <850000>;
					regulator-max-microvolt = <1250000>;
					regulator-always-on;
					regulator-boot-on;
				};

				vdd_core_reg: smps7 {
					/* VDD_CORE */
					regulator-name = "smps7";
					regulator-min-microvolt = <850000>;
					regulator-max-microvolt = <1150000>;
					regulator-always-on;
					regulator-boot-on;
				};

				vdd_iva_reg: smps8 {
					/* VDD_IVA */
					regulator-name = "smps8";
					//regulator-min-microvolt = <1800000>;
					//regulator-max-microvolt = <1800000>;
					//regulator-always-on;
					//regulator-boot-on;
				};

				vdd_3v3_reg: smps9 {
					/* VDD_3V3 */
					regulator-name = "smps9";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
					regulator-boot-on;
				};

				ldo1_3v3_sd_reg: ldo1 {
					/* VDD_SD / VDDSHV8  */
					regulator-name = "ldo1";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-boot-on;
					regulator-always-on;
				};

				ldo2_1v8_reg: ldo2 {
					/* VDD_SHV5 */
					regulator-name = "ldo2";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
				};

				ldo3_1v8_phy_reg: ldo3 {
					/* VDDA_1V8_PHYA */
					regulator-name = "ldo3";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
				};

				ldo4_1v8_phy_reg: ldo4 {
					/* VDDA_1V8_PHYB */
					regulator-name = "ldo4";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
				};

				ldo9_rtc_reg: ldo9 {
					/* VDD_RTC */
					regulator-name = "ldo9";
					regulator-min-microvolt = <840000>;
					regulator-max-microvolt = <1160000>;
					regulator-always-on;
					regulator-boot-on;
				};

				ldoln_1v8_pll_reg: ldoln {
					/* VDDA_1V8_PLL */
					regulator-name = "ldoln";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
				};

				ldousb_3v3_reg: ldousb {
					/* VDDA_3V_USB: VDDA_USBHS33 */
					regulator-name = "ldousb";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-boot-on;
				};
				
				ldortc_1v8_reg: ldortc {
					/* VDDA_RTC  */
					regulator-name = "ldortc";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
				};

				/* unused */
				regen1: regen1 {
					/* VDD_3V3_ON */
					regulator-name = "regen1";
					regulator-boot-on;
					regulator-always-on;
				};
				/* unused */
				regen2: regen2 {
					/* Needed for PMIC internal resource */
					regulator-name = "regen2";
					regulator-boot-on;
					regulator-always-on;
				};
			};
		};

		tps659038_rtc: tps659038_rtc {
			compatible = "ti,palmas-rtc";
			interrupt-parent = <&tps659038>;
			interrupts = <8 IRQ_TYPE_EDGE_FALLING>;
			wakeup-source;
		};

		tps659038_pwr_button: tps659038_pwr_button {
			compatible = "ti,palmas-pwrbutton";
			interrupt-parent = <&tps659038>;
			interrupts = <1 IRQ_TYPE_EDGE_FALLING>;
			wakeup-source;
			ti,palmas-long-press-seconds = <12>;
		};        
	};
	
	rtc_rx8803: rtc@32 {
		status = "okay";
		compatible = "microcrystal,rv8803";
		reg = <0x32>;
	};

	/* STMPE811 touch screen controller */
	stmpe811@41 {
		compatible = "st,stmpe811";
		reg = <0x41>;
		interrupt-parent = <&gpio6>;
		interrupts = <16 IRQ_TYPE_LEVEL_LOW>;
		interrupt-controller;
		irq-gpio = <&gpio6 16 IRQ_TYPE_LEVEL_LOW>;
		id = <0>;
		blocks = <0x5>;
		irq-trigger = <0x1>;
		st,mod-12b = <1>; /* 12-bit ADC */
		st,ref-sel = <0>; /* internal ADC reference */
		st,adc-freq = <1>; /* 3.25 MHz ADC clock speed */
		st,sample-time = <4>; /* ADC converstion time: 80 clocks */

		stmpe_adc {
			compatible = "st,stmpe-adc";
			/* forbid to use ADC channels 3-0 (touch) */
			st,norequest-mask = <0x0F>;
		};

		touch: stmpe_touchscreen {
			status = "disabled";
			compatible = "st,stmpe-ts";
			/* 8 sample average control */
			st,ave-ctrl = <3>;
			/* 7 length fractional part in z */
			st,fraction-z = <7>;
			/*
			 * 50 mA typical 80 mA max touchscreen drivers
			 * current limit value
			 */
			st,i-drive = <1>;
			/* 1 ms panel driver settling time */
			st,settling = <3>;
			/* 5 ms touch detect interrupt delay */
			st,touch-det-delay = <5>;
		};
	};
};

&qspi {
	status = "okay";
	spi-max-frequency = <76800000>;
	m25p80@0 {
		compatible = "w25q128", "jedec,spi-nor";
		spi-max-frequency = <76800000>;
		reg = <0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <1>;
		#address-cells = <1>;
		#size-cells = <1>;
		wp-gpios = <0>;
    };
};

&mcspi3 {
	status = "disabled";
	/* CS0 - native (vout1_clk) 
	 * CS1 - native (vout1_fld) 
	 * CS2 - native (vout1_d0) 
	 */
	cs-gpios = <&gpio4 19 GPIO_ACTIVE_LOW>,
		<&gpio4 21 GPIO_ACTIVE_LOW>,
		<&gpio8 0 GPIO_ACTIVE_LOW>;
	num-cs = <3>;
};

&mcspi4 {
	status = "disabled";
	/* CS0 - native (vin2a_d1) 
	 * CS1 - native (gpmc_a12) 
	 * CS2 - nc
	 * CS3 - native (gpmc_a14) 
	 */
	cs-gpios = <&gpio4 2 GPIO_ACTIVE_LOW>,
		<&gpio2 2 GPIO_ACTIVE_LOW>,
		<0>,
		<&gpio2 4 GPIO_ACTIVE_LOW>;
	num-cs = <4>;

	no-device@2 {/* Do Not Use */};
};

&mmc1 {
    status = "disabled";
    bus-width = <4>;
    vmmc-supply = <&vdd_3v3_reg>;
    vqmmc-supply = <&ldo1_3v3_sd_reg>;
    max-frequency = <48000000>;
    no-1-8-v;

    pinctrl-names = "default", "hs";
	pinctrl-0 = <&mmc1_pins_default>;
	pinctrl-1 = <&mmc1_pins_hs>;
};


&mmc2 {
    status = "okay";
    vmmc-supply = <&vdd_3v3_reg>;
    vqmmc-supply = <&vdd_3v3_reg>;
    bus-width = <8>;
    non-removable;
	disable-wp;
    max-frequency = <96000000>;
	no-1-8-v;
    
	pinctrl-names = "default", "hs", "ddr_3_3v";
	pinctrl-0 = <&mmc2_pins_default>;
	pinctrl-1 = <&mmc2_pins_hs>;
	pinctrl-2 = <&mmc2_pins_default>;
};

&mmc4 {
    status = "disabled";
    bus-width = <4>;
    vmmc-supply = <&vdd_3v3_reg>;
    vqmmc-supply = <&ldo1_3v3_sd_reg>;
    max-frequency = <48000000>;
    no-1-8-v;

    pinctrl-names = "default", "hs";
	pinctrl-0 = <&mmc4_pins_default &mmc4_iodelay_ds_rev20_conf>;
	pinctrl-1 = <&mmc4_pins_hs &mmc4_iodelay_sdr12_hs_sdr25_rev20_conf>;
};

// usb3.x interface
&usb1 { 
	dr_mode = "host";
};

// usb2.x interface
&usb2 { 
	dr_mode = "host";
};

&mac_sw {
    slaves = <1>;
    status = "okay";
};

&davinci_mdio_sw {
    ethphy4: ethernet-phy@4 {
        reg = <4>;
		reset-gpios = <&gpio4 25 GPIO_ACTIVE_LOW>;
		reset-assert-us = <500000>;
		qca,clk-out-frequency = <50000000>;
		qca,keep-pll-enabled;
		vddio-supply = <&vddio>;
		vddio: vddio-regulator {
			regulator-min-microvolt = <1500000>;
			regulator-max-microvolt = <1500000>;
		};
    };
};

/* The phy-mode must be rgmii-rxid for the AR8031 */
&cpsw_port1 {
    phy-handle = <&ethphy4>;
    phy-mode = "rgmii-rxid";
    ti,dual-emac-pvid = <1>;
};

&cpsw_port2 {
    status = "disabled";
};

&usb2_phy1 {
	phy-supply = <&ldousb_3v3_reg>;
};

&usb2_phy2 {
	phy-supply = <&ldousb_3v3_reg>;
};

&dss {
	status = "okay";
	vdda_video-supply = <&ldoln_1v8_pll_reg>;
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@2 {
			reg = <2>;
			lvds_out: endpoint {
				data-lines = <18>;
				status = "disabled";
			};
		};
	};
};

&hdmi {
	status = "disabled";
	vdda-supply = <&ldo4_1v8_phy_reg>;

	port {
		hdmi_out: endpoint {
			remote-endpoint = <&tpd12s015_in>;
		};
	};
};

&dra7_pmx_core {
	dcan1_pins_default: dcan1_pins_default {  
		pinctrl-single,pins = <
			DRA7XX_CORE_IOPAD(0x37d4, PIN_INPUT | MUX_MODE15) 	/* (Errata i893) dcan1_rx.dcan1_rx */
			DRA7XX_CORE_IOPAD(0x37d0, PIN_OUTPUT | MUX_MODE0) 	/* dcan1_tx.dcan1_tx */
		>;
	};

	dcan2_pins_default: dcan2_pins_default {
		pinctrl-single,pins = <
			DRA7XX_CORE_IOPAD(0x368c, PIN_INPUT | MUX_MODE15) 	/* (Errata i893) gpio6_15.dcan2_rx */
			DRA7XX_CORE_IOPAD(0x3688, PIN_OUTPUT | MUX_MODE2) 	/* gpio6_14.dcan2_tx */
		>;
	};
};

&pruss2_mdio {
	status = "okay";
	pruss2_eth0_phy: ethernet-phy@1 {
		reg = <1>;
		interrupt-parent = <&gpio7>;
		interrupts = <10 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&gpio7 8 GPIO_ACTIVE_LOW>;
		reset-assert-us = <10000>;
	};

	pruss2_eth1_phy: ethernet-phy@2 {
		reg = <2>;
		interrupt-parent = <&gpio7>;
		interrupts = <9 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&gpio7 7 GPIO_ACTIVE_LOW>;
		reset-assert-us = <10000>;
	};
};

&ipu2 {
	status = "okay";
	memory-region = <&ipu2_memory_region>;
};

&ipu1 {
	status = "okay";
	memory-region = <&ipu1_memory_region>;
};

&dsp1 {
	status = "okay";
	memory-region = <&dsp1_memory_region>;
};

&dsp2 {
	status = "okay";
	memory-region = <&dsp2_memory_region>;
};

&bb2d {
	status = "okay";
};

/*
 * Can
 */
&dcan1 {
    status = "disabled";
    pinctrl-names = "default";
    pinctrl-0 = <&dcan1_pins_default>;
};

&dcan2 {
    status = "disabled";
    pinctrl-names = "default";
    pinctrl-0 = <&dcan2_pins_default>;
};

/*
 * UART
 */

&uart1 {
	status = "disabled";
};

&uart2 {
	status = "disabled";
};

// console
&uart3 {
	status = "okay";
	uart-has-rtscts;
	interrupts-extended = <&crossbar_mpu GIC_SPI 69 IRQ_TYPE_LEVEL_HIGH>, <&dra7_pmx_core 0x3f8>;
};

&uart5 {
	uart-has-rtscts;
};
&uart6 {
	uart-has-rtscts;
};
&uart7 {
	uart-has-rtscts;
};

&mcasp5 {
    #sound-dai-cells = <0>;
    assigned-clocks = <&l4per_clkctrl DRA7_MCASP5_CLKCTRL 24>;
    assigned-clock-parents = <&sys_clkin2>;
    op-mode = <0>;	
    tdm-slots = <2>;
    serial-dir = < 1 2 0 0 >;
    tx-num-evt = <32>;
    rx-num-evt = <32>;
};

&mcasp8 {
    #sound-dai-cells = <0>;
    assigned-clocks = <&l4per_clkctrl DRA7_MCASP8_CLKCTRL 24>;
    assigned-clock-parents = <&sys_clkin2>;
    op-mode = <0>;	
    tdm-slots = <2>;
    serial-dir = < 1 2 0 0 >;
    tx-num-evt = <32>;
    rx-num-evt = <32>;
};

&epwmss0 {
	eqep0: counter@180 {
		compatible = "ti,dra746-eqep", 
				 "ti,am3352-eqep";
		reg = <0x180 0x80>;
		clocks = <&l4_root_clk_div>;
		clock-names = "sysclkout";
		interrupts = <210>;
		status = "disabled";
	};
};

&epwmss1 {
	eqep1: counter@180 {
		compatible = "ti,dra746-eqep", 
				 "ti,am3352-eqep";
		reg = <0x180 0x80>;
		clocks = <&l4_root_clk_div>;
		clock-names = "sysclkout";
		interrupts = <211>;
		status = "disabled";
	};
};

&epwmss2 {
	eqep2: counter@180 {
		compatible = "ti,dra746-eqep", 
				 "ti,am3352-eqep";
		reg = <0x180 0x80>;
		clocks = <&l4_root_clk_div>;
		clock-names = "sysclkout";
		interrupts = <212>;
		status = "disabled";
	};
};